.header .h2{
    width: fit-content;
}

.content .form-control ,.content .form-select {
    border-bottom: 2px solid rgba(0, 0, 0, 0.207) !important;
}

.content .form-control:focus ,.content .form-select:focus{
   box-shadow: none;
     border-bottom: 2px solid darkcyan !important;
}
.search input{
      border: 2px solid  !important;
}
.search input:focus{

     box-shadow: none;
     border: 2px solid darkcyan !important;
}

.form-control.is-valid , .form-control.is-valid:focus{
box-shadow: none !important;
border-color: rgb(11, 204, 11) !important;
}





.form-control.is-invalid, .form-control.is-invalid:focus{
box-shadow: none !important;
border-color:rgb(210, 29, 29)!important;
}
